/* style.css */

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background: #2e1f18;
  color: #EFEFEF;
  padding: 30px 10%;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.8em;
  letter-spacing: 2px;
}

header p {
  font-size: 1.3em;
  margin: 10px 0 0;
  letter-spacing: 1px;
}

.portfolio-header {
  text-align: center;
  margin-top: 50px; 
}

.portfolio-header h2 {
  font-size: 2em; /* Adjust size as needed */
  margin: 0 0 10px 0; /* Adjust margin as needed */
  font-weight: bold; /* Makes the title bold */
}

.portfolio-description {
  font-size: 1em; /* Adjust size as needed */
  color: #666; /* Adjust color as needed */
  margin: 0 auto; /* Centering the text */
  max-width: 80%; /* Adjust width as needed for better readability */
}

.carousel-wrapper {
  width: 90%; /* Adjust the width as per requirement */
  margin: 20px auto;
  position: relative;
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
}

.carousel-images .image-container {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-images img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.caption {
  text-align: center;
  font-size: 18px;
  margin-top: 15px; /* Adjust space between carousel and caption */
  font-style: italic;
  font-weight: bold;
  color: #262626;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  padding: 20px;
  color: white;
  background-color: rgba(0,0,0,0.4);
  border-radius: 50%;
  z-index: 2;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 10px; /* Adjust the gap as needed */
  max-width: 90%; /* Same as the carousel */
  margin: 70px auto; /* Space above and below the grid, centered */
}

.image-grid img {
  width: 100%;
  object-fit: cover; /* For square images, cover should work well */
  height: auto; /* Maintain aspect ratio */
}

footer {
  background: #2e1f18;
  color: #EFEFEF;
  text-align: center;
  margin-top: 50px;

  padding: 20px 10%;
  font-size: 1em;
}

footer p {
  margin: 0;
  line-height: 1.7em;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: auto;
}

.instagram-embed {
  flex: 1;
  max-width: 300px;
}

.instagram-embed blockquote {
  margin: auto !important;
  width: 100% !important;
}

.caption-container {
  flex: 1;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
}

.caption-container h3 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
  text-align: center;
}

.caption-container p {
  margin: 0;
  font-size: 1em;
  text-align: center;
}

.resume-container {
  text-align: center;
  margin: 60px auto;
  max-width: 80%; 
}

.resume-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .caption-container {
    display: none;
  }

  .content-container {
    flex-direction: column;
  }

  .instagram-embed {
    max-width: 100%; 
  }
}

@media (min-width: 768px) {
  .carousel-wrapper {
    width: 70%;
  }

  .image-grid {
    max-width: 70%;
  }

  .resume-container {
    max-width: 70%;
  }
}

@media (min-width: 1024px) {
  .carousel-wrapper {
    width: 800px;
  }

  .image-grid {
    max-width: 800px;
  }

  .resume-container {
    max-width: 800px;
  }
}